@charset "UTF-8";
.css-169773r{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    padding: 30px 0px 19px 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    border-bottom-color: rgb(51, 55, 57);	
}
.css-107htc6{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    flex: 0 0 225px;	
}
.css-1qo6qeh{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: -1px 0px 7px;	
}
.css-f3vz0n{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 19px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;	
}
.css-inxa61{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: block;
    flex: 1 1 0%;
    overflow: hidden;	
}
.css-18pn4xv{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
    height: 19px;
    padding-right: 20px;	
}
.css-11q4ylb{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgb(0, 0, 0);	
}
.css-y49dcn{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding-top: 12px;
    padding-right: 20px;
    word-break: break-word;
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgb(0, 0, 0);	
}
.css-1fkegtf{
    color-scheme: dark !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-top: 19px;
    padding-right: 20px;	
}
.css-dy2b5u{
    color-scheme: dark !important;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin: 0;
    word-break: break-all;
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3px;
    width: 100%;
    padding: 20px 0 30px 0;
    overflow-x: hidden;
    overflow-y: hidden;	
}
.css-gyfnsf{
    color-scheme: dark !important;
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
    word-break: break-all;
    margin: 0;
    padding: 0;
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    font-size: 12px;
    max-width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline-color: initial;
    background-color: transparent;
    border-color: initial;	
}